body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fontBold {
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hours {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 250px;
  height: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.centerContent {
  margin-left: auto;
  margin-right: auto;
}

.perHour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around;
  line-height: 0px;
}

.titles {
  color: red;
  font-size: 30px;
}
